{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->

        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

        <!-- third party css -->
        <link href="{% static 'libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'libs/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'libs/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'libs/datatables.net-select-bs5/css/select.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- third party css end -->

        <!-- plugin css -->
        <link href="{% static 'libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" type="text/css" />

        <!-- App css -->
        <link href="{% static 'css/material/bootstrap.min.css' %}" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />
        <link href="{% static 'css/material/app.min.css' %}" rel="stylesheet" type="text/css" id="app-default-stylesheet" />

        <link href="{% static 'css/material/bootstrap-dark.min.css' %}" rel="stylesheet" type="text/css" id="bs-dark-stylesheet" />
        <link href="{% static 'css/material/app-dark.min.css' %}" rel="stylesheet" type="text/css" id="app-dark-stylesheet" />

        <!-- icons -->
        <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />

        <!-- My style -->
        <link href="{% static 'css/mystyle.css' %}" rel="stylesheet">

        <title>{% block title %}{% endblock %}</title>

        {% block script %}{% endblock %}
    </head>

    <!-- body start -->
    <body class="loading" data-layout='{"mode": "light", "width": "fluid", "menuPosition": "fixed", "sidebar": { "color": "light", "size": "default", "showuser": false}, "topbar": {"color": "dark"}, "showRightSidebarOnPageLoad": true}' onload="Jump()">

        <!-- Begin page -->
        <div id="wrapper">

            <!-- Topbar Start -->
            <div class="navbar-custom">
                <div class="container-fluid">
    
                    <ul class="list-unstyled topnav-menu float-end mb-0">

                        <li class="dropdown notification-list topbar-dropdown">
                            <a class="nav-link dropdown-toggle nav-user me-0 waves-effect waves-light" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <!--<img src="{% static 'images/users/avatar-1.jpg' %}" alt="user-image" class="rounded-circle">-->
                                <span class="pro-user-name ms-1">
                                    {{ user.facility_name }} 様<i class="mdi mdi-chevron-down"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end profile-dropdown ">

                                <div class="dropdown-divider"></div>

                                <a href="#" class="dropdown-item notify-item" data-bs-toggle="modal" data-bs-target="#standard-modal">
                                    <i class="ri-key-2-line"></i>
                                    <span>注文方法について</span>
                                </a>

                                <div class="dropdown-divider"></div>

                                <a href="{% url 'account_change_password' %}" class="dropdown-item notify-item">
                                    <i class="ri-key-2-line"></i>
                                    <span>パスワード変更</span>
                                </a>

                                <div class="dropdown-divider"></div>

                                <a href="{% url 'account_logout' %}" class="dropdown-item notify-item">
                                    <i class="ri-logout-box-line"></i>
                                    <span>ログアウト</span>
                                </a>
    
                            </div>
                        </li>
    
                    </ul>

                    <!-- LOGO -->
                    <div class="logo-box">
                        <a href="{% url 'web_order:index' %}" class="logo logo-dark text-center">
                        	<h3>FoodDXコネクト</h3>
                        </a>
                    </div>
    
                    <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                        <li>
                            <button class="button-menu-mobile waves-effect waves-light">
                                <i class="fe-menu"></i>
                            </button>
                        </li>

                        <li>
                            <!-- Mobile menu toggle (Horizontal Layout)-->
                            <a class="navbar-toggle nav-link" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                                <div class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                            <!-- End mobile menu toggle-->
                        </li>   
            
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end Topbar -->

            <!-- ========== Left Sidebar Start ========== -->
            <div class="left-side-menu">

                <!-- LOGO -->
                <div class="logo-box">
                    <a href="{% url 'web_order:index' %}" class="logo logo-dark text-center">
                        	<h3>FoodDXコネクト</h3>
                    </a>

                </div>

                <div class="h-100" data-simplebar>

                    <!-- User box -->
                    <div class="user-box text-center">
                        <img src="{% static 'images/users/avatar-1.jpg' %}" alt="user-img" title="Mat Helme"
                            class="rounded-circle avatar-md">
                        <div class="dropdown">
                            <a href="#" class="text-reset dropdown-toggle h5 mt-2 mb-1 d-block"
                                data-bs-toggle="dropdown">{{ user.facility_name }} 様</a>
                            <div class="dropdown-menu user-pro-dropdown">

                                
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="fe-user me-1"></i>
                                    <span>My Account</span>
                                </a>

                                
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="fe-settings me-1"></i>
                                    <span>Settings</span>
                                </a>

                                
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="fe-lock me-1"></i>
                                    <span>Lock Screen</span>
                                </a>

                                
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="fe-log-out me-1"></i>
                                    <span>Logout</span>
                                </a>

                            </div>
                        </div>
                    </div>

                    <!-- Side menu -->
                    <div id="sidebar-menu">

                        <ul id="side-menu">

                            <li>
                                <a href="{% url 'web_order:index' %}">
                                    <i class="mdi mdi-home"></i>
                                    <span> トップページ </span>
                                </a>
                            </li>

                            <li class="menu-title">注文関係</li>

                            <li class="collapse" id="menu_new_year">
                                <a {% if user.is_parent %}{% else %} href="{% url 'web_order:order_new_year' %}" {% endif %}>
                                    <i class="mdi mdi-weather-sunset-up"></i>
                                    <span> 元旦注文入力 </span>
                                </a>
                            </li>

                            <li>
                                <a {% if user.is_parent %}{% else %} href="{% url 'web_order:order' %}" {% endif %}>
                                    <i class="mdi mdi-clipboard-check"></i>
                                    <span> 仮注文・週間入力 </span>
                                </a>
                            </li>

                            <li>
                                <a {% if user.is_parent %}{% else %} href="{% url 'web_order:order_change_list' %}" {% endif %}>
                                    <i class="mdi mdi-clipboard-flow"></i>
                                    <span> 仮注文後の食数変更 </span>
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'web_order:order_list' %}">
                                    <i class="mdi mdi-table-large"></i>
                                    <span> すべての注文データ </span>
                                </a>
                            </li>

                            <li class="menu-title">アレルギー・個別対応</li>

                            <li>
                                <a {% if user.is_parent %}{% else %} href="{% url 'web_order:order_allergen' %}"{% endif %}>
                                    <i class="mdi mdi-clipboard-plus"></i>
                                    <span> アレルギー新規注文 </span>
                                </a>
                            </li>

                            <li>
                                <a {% if user.is_parent %}{% else %} href="{% url 'web_order:order_allergen_list' %}"{% endif %}>
                                    <i class="mdi mdi-table-large"></i>
                                    <span> アレルギー食数変更 </span>
                                </a>
                            </li>

                            <li class="menu-title">その他</li>

                            <li>
                                <a href="{% url 'web_order:cooking_documents' %}">
                                    <i class="mdi mdi-file-outline"></i>
                                    <span> 献立資料一覧 </span>
                                </a>
                            </li>

                            <li>
                                <a href="#"  data-bs-toggle="modal" data-bs-target="#invoiceAuthenticationModal">
                                    <i class="mdi mdi-file-outline"></i>
                                    <span> 請求書一覧 </span>
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'web_order:chat' %}">
                                    <i class="mdi mdi-human-greeting"></i>
                                    <span> お問い合わせチャット </span>
                                </a>
                            </li>

                            <li>
                                {% if user.is_parent %}
                                    <a href="{% static 'dan_order_manual_for_parent.pdf' %}">
                                        <i class="mdi mdi-file-outline"></i>
                                        <span> 操作マニュアル </span>
                                    </a>
                                {% else %}
                                    <a href="{% static 'dan_order_manual.pdf' %}">
                                        <i class="mdi mdi-file-outline"></i>
                                        <span> 操作マニュアル </span>
                                    </a>
                                {% endif %}
                            </li>
                       </ul>

                    </div>
                    <!-- End Sidebar -->

                    <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

            </div>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <div class="content">
                    <!-- Start Content-->
                    <div class="container-fluid">
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box page-title-box-alt">
                                    <h3 class="page-title">
                                        {% block overview %}{% endblock %}
                                    </h3>
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="{% url 'web_order:index' %}">トップページ</a></li>
                                            {% block breadcrumb %}{% endblock %}
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->
                    </div> <!-- container -->

                    {% block content %}{% endblock %}

                </div> <!-- content -->

                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-end footer-links d-none d-sm-block">
                                    Ver.1.0.8
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

            </div>
            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->

        </div>
        <!-- END wrapper -->

        <!-- Standard modal content -->
        <div id="standard-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="standard-modalLabel">注文方法のご案内</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h6>手順1</h6>
                        <p>通常食を注文します</p>
                        <hr>
                        <h6>手順2</h6>
                        <p>アレルギー対応をご希望の場合</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        {# 管理者認証 Modal #}
        <div class="modal fade" id="invoiceAuthenticationModal" tabindex="-1" role="dialog" aria-labelledby="authentication-modalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="authentication-modalLabel">請求書閲覧可能ユーザー確認</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="invoice_modal_form" action ="{% url 'web_order:invoice_list' %}" />
                        <div class="modal-body">
                            請求書閲覧可能ユーザー用のパスワードを入力してください。
                            <input class="mb-1" id="pass" type="password">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">キャンセル</button>
                            <button type="button" id="invoice-view-ok" class="btn btn-primary">OK</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Vendor js -->
        <script src="{% static 'js/vendor.min.js' %}"></script>

        <!-- third party js -->
        <!-- 日本語表記は、jquery.dataTables.min.js内で直接書き換えています -->
        <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-select/js/dataTables.select.min.js' %}"></script>
        <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
        <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
        <!-- third party js ends -->

        <!-- Datatables init -->
        <script src="{% static 'js/pages/datatables.init.js' %}"></script>

        <!-- KNOB JS -->
        <script src="{% static 'libs/jquery-knob/jquery.knob.min.js' %}"></script>
        <!-- Apex js-->
        <!-- <script src="{% static 'libs/apexcharts/apexcharts.min.js' %}"></script> -->

        <!-- Plugins js-->
        <script src="{% static 'libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
        <script src="{% static 'libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js' %}"></script>

        <!-- Dashboard init-->
        <!-- <script src="{% static 'js/pages/dashboard-sales.init.js' %}"></script> -->

        <!-- App js -->
        <script src="{% static 'js/app.min.js' %}"></script>

        {# 請求書一覧のパスワードダイアログ #}
        <script>
            $(function(){
                    {# モーダル上でだけEnterキーを無効にする #}
                    $("#invoice_modal_form"). keydown(function(e) {
                        if ((e.which && e.which === 13) || (e.keyCode && e.keyCode === 13)) {
                            return false;
                        } else {
                            return true;
                        }
                    });
                    $('#invoice-view-ok').click(function(event){
                        const param = {
                            method: "GET",
                            headers:{
                                "X-AUTH": $('#pass').val()
                            }
                        }

                        fetch("{% url 'web_order:invoice-auth-api' %}", param)
                        .then(function(response) {
                            if (response.ok) {
                                $('#invoice_modal_form').submit()
                            } else {
                                alert('認証に失敗しました。')
                            }
                        return false;
                    });
                });
            });

            // ロード時の処理
            const api_param = {
                method: "GET",
            }

            fetch("{% url 'web_order:show-new-year-api' %}", api_param)
            .then(function(response) {
                if (response.ok) {
                    response.text().then(function(text){
                        if (text == 1)
                            $('#menu_new_year').addClass('show');
                    });
                } else {
                    console.log('fetch error');
                }
            });
        </script>
    </body>
</html>