{% extends 'base.html' %}
{% load static %}
{% block title %}お問い合わせチャット{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active">お問い合わせチャット</li>
{% endblock %}

{% block content %}

<div class="row">
    <!-- chat area -->
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <ul class="conversation-list chat-app-conversation" data-simplebar>

                {% for obj in object_list %}

                    {% if obj.is_sendto is True %}
                        <li class="clearfix">
                        <div class="chat-avatar">
                            <img src="{% static 'images/dan.png' %}" alt="{{ obj.username }}" class="rounded" />
                    {% else %}
                        <li class="clearfix odd">
                        <div class="chat-avatar">
                            <img src="{% static 'images/shisetsu.png' %}" alt="{{ obj.username }}" class="rounded" />
                    {% endif %}

                            <i>{{ obj.created_at |date:"n/j"}}</i>
                            <i>{{ obj.created_at |date:"G:i"}}</i>
                            {% if obj.is_read is True %}
                                <i class="text-info">既読</i>
                            {% endif %}
                        </div>
                        <div class="conversation-text">
                            <div class="ctext-wrap">
                            {% if obj.is_sendto is True %}
                                <i>株式會社 談</i>
                            {% else %}
                                <i>{{ obj.username }}</i>
                            {% endif %}
                                <p>
                                    {{ obj.message|linebreaksbr }}
                                </p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                <a id="jump_to_end"></a>
                </ul>

                <div class="row">
                    <div class="col">
                        <div class="mt-2 bg-light p-3 rounded">
                            <form action="{% url 'web_order:chat' %}" method="POST" class="needs-validation" novalidate="" name="chat-form" id="chat-form">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col mb-2 mb-sm-0">
                                        {{ form.message }}
                                    </div>
                                    <div class="col-sm-auto">
                                        <div class="btn-group">
                                            <div class="d-grid">
                                                <button type="submit" class="btn btn-success chat-send"><i class='fe-send'></i></button>
                                            </div>
                                        </div>
                                    </div> <!-- end col -->
                                </div> <!-- end row-->
                            </form>
                        </div>
                    </div> <!-- end col-->
                </div>
                <!-- end row -->
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div>
    <!-- end chat area-->
</div> <!-- end row-->

<script type="text/javaScript">
function Jump() {
    location.href = "#jump_to_end";
}
</script>

{% endblock %}
