{% extends 'base_admin.html' %}
{% load static %}

{% block title %}料理写真詳細{% endblock %}

{% block script %}
    <style>
        .wraptext {
          white-space: pre-wrap;
        }
    </style>
{% endblock %}

{% block overview %}料理写真詳細{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">料理写真詳細</li>
{% endblock %}


{% block content %}

<div class="row">
    <div class="card-header py-1 messages">
        {% if messages %}
            {% for message in messages %}
                <p{% if message.tags %} class="p-2 m-1 alert alert-{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-xl-3"></div>
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h3 class="header-title">{{ object.food_name }}</h3><hr>
                    <div class="mb-2">
                        {{ object.hot_cool }}
                    </div>
                    <div class="mb-2">
                        {{ object.direction }}
                    </div>
                    <div class="mb-2">
                    <img src='{{ object.thumbnail.url }}'>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3"></div>
</div>
    <a href="{% url 'web_order:food_photo_list' %}">一覧に戻る</a>
{% endblock %}
