{% extends 'base_admin.html' %}
{% load static %}
{% block title %}製造作成表一覧{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active">加熱加工記録簿一覧</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="text-center">
            <h2 class="mb-3">加熱加工記録簿一覧</h2>
        </div>
    </div><!-- end col -->
</div><!-- end row -->
<div class="container-fluid">
    <div class="row">
        <div class="card-header py-1 messages">
            {% if messages %}
                {% for message in messages %}
                    <p{% if message.tags %} class="p-2 m-1 alert alert-{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            {% else %}
                <p class="p-2 m-1">　</p>
            {% endif %}
        </div>
    </div> <!-- end row -->
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mt-3">
                        <table>
                            <tr>
                            {% for file in files %}
                                <td><a href="{{ url }}/{{ file }}">{{ file }}</a></td>
                                {%if forloop.counter|divisibleby:"3" %}
                                    </tr><tr>
                                {% endif %}
                            {% endfor %}
                            </tr>
                        </table>
                    </div> <!-- end table responsive-->
                </div> <!-- end card-body -->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div> <!-- end row -->
</div>
{% endblock %}
