{% extends 'base_master.html' %}
{% load static %}

{% block title %}長期休暇更新{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">長期休暇更新</li>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-12">
        <div class="text-center">
            <h2 class="mb-3">長期休暇更新</h2>
        </div>
    </div><!-- end col -->
</div><!-- end row -->

<div class="row">
    <div class="col-xl-3"></div>
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <form method="POST" enctype='multipart/form-data'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="row mt-3">
                        <button type="submit" class="btn btn-primary">更新する</button>
                    </div>
                </form>
                <div class="row mt-2">
                    <a class="btn btn-secondary ml-2" href="{% url 'web_order:long_holidays_list'%}">キャンセル</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3"></div>
</div>

{% endblock %}
