{% extends 'base_master.html' %}
{% load static %}

{% block title %}原体料理マスタ更新{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">原体料理マスタ更新</li>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-12">
        <div class="text-center">
            <h2 class="mb-3">原体料理マスタ登録</h2>
    </div><!-- end col -->
</div><!-- end row -->

<div class="row">
    <div class="col-xl-4">
        <div class="card shadow ml-1">
            <h3 class="px-1">料理名チェック:</h3>
            <h4>下記にて判定OKとなった名称を入力フォームの「原体料理名」に入力してください。</h4>
            <div class="px-2" >調理表の料理名：</div>
            <div class="px-2">
                <input class="form-control"type="text" id="direction_name" />
            </div>
            <div class="px-2">原体料理名：</div>
            <div class="px-2">
                <input class="form-control ml-2 mr-2" type="text" id="raw_name" />
            </div>
            <div class="px-2">判定結果：</div>
            <h4 class="px-4" id="name_result">-</h4>
            <button id="input_btn" type="button" class="btn btn-info mx-2 mb-1">料理名反映</button>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">

                <form method="POST" enctype='multipart/form-data'>

                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="row mt-3">
                        <button type="submit" class="btn btn-primary">更新する</button>
                    </div>
                </form>
                <form method="POST" enctype='multipart/form-data'
                      action="{% url 'web_order:raw_plate_delete' form.instance.id %}"
                      onsubmit="return window.confirm('設定を削除してもよろしいでしょうか?');">
                    <div class="row mt-3">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" id="delete_btn">削除する</button>
                    </div>
                </form>
                <div class="row mt-2">
                    <a class="btn btn-secondary ml-2" href="{% url 'web_order:raw_plates'%}">キャンセル</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2"></div>
</div>

{% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){
    // 入力欄の変更イベントを定義
    $("#direction_name, #raw_name").focusout(function(){
        console.log('check_name!');
        var source = $('#direction_name').val();
        console.log(source);
        var raw = $('#raw_name').val();
        console.log(raw);

        if(~source.indexOf(raw)){
            // 部分一致のときの処理
            $('#name_result').text("OK");
        } else {
            $('#name_result').text("NG");
        }
    });

    $("#input_btn").click(function(){
        var raw = $('#raw_name').val();
        var result = $('#name_result').text();
        if (result == 'OK'){
            $('#id_base_name').val(raw);
        }
    });
});
</script>
{% endblock %}