{% extends 'base_master.html' %}
{% load static %}

{% block title %}注文_合数追加{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">注文_合数追加</li>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-12">
        <div class="text-center">
            <h2 class="mb-3">注文_合数追加</h2>
            <h4>納品が終了している日の合数は、変更できません(通常、喫食日{{adjust_days}}日前納品)。</h4>
        </div>
    </div><!-- end col -->
</div><!-- end row -->

<div class="row">
    <div class="col-xl-3"></div>
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">

                <form method="POST" enctype='multipart/form-data'>

                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="row mt-3">
                        <button type="submit" class="btn btn-primary">追加する</button>
                    </div>
                    <div class="row mt-2">
                        <a class="btn btn-secondary ml-2" href="{% url 'web_order:rice_orders'%}">キャンセル</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="col-xl-3"></div>
</div>

{% endblock %}
