{% extends 'base_master.html' %}
{% load static %}
{% load humanize %}

{% block title %}盛付指示書表示停止・再開マスタ{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">盛付指示書表示停止・再開マスタ確認</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="text-center">
            <h2 class="mb-3">盛付指示書表示停止・再開マスタ確認</h2>
        </div>
    </div><!-- end col -->
</div><!-- end row -->
<div class="row">
    <div class="card-header py-1 messages">
        {% if messages %}
            {% for message in messages %}
                <p{% if message.tags %} class="p-2 m-1 alert alert-{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>
</div>

    <div class="card shadow mb-3">
    <div class="card-body">
        <div class="table-responsive">

            <table id="basic-datatable" class="table table-striped dt-responsive nowrap w-100">
                <thead>
                    <tr>
                        <th>盛付指示書名</th>
                        <th>指示書登録日</th>
                        <th>指示書参照可能最終日</th>
                        <th>状態</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in object_list %}
                    <tr>
                        <td><a href="{% url 'web_order:master_index' %}">{{ obj.name }}</a></td>
                        <td>{{ obj.create_at |date:"Y年m月d日" }}</td>
                        <td>{{ obj.last_enable |date:"Y年m月d日" }}</td>
                        <td>{{ obj.status }}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>

{% endblock %}
